@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "arialregular";
    src: url("../fonts/Arial/arialregular-webfont.eot"),
    url("../fonts/Arial/arialregular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Arial/arialregular-webfont.woff2") format("woff2"),
    url("../fonts/Arial/arialregular-webfont.woff") format("woff"),
    url("../fonts/Arial/arialregular-webfont.ttf") format("truetype"),
    url("../fonts/Arial/arialregular-webfont.svg#arialregular") format("svg");
    font-weight: normal;
    font-style: normal;
}
