html {
    font-size: 16px;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrap-helper {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__inner {
        flex: 1 0 auto;
    }
}

h1 {
    @include responsive-fz(25, 14, 1199);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-height: 400px;
}
