.wrap-helper {
	height: 100%;
	display: flex;
	flex-direction: column;
	
	&__inner {
		flex: 1 1 auto;
	}
}

.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1170px;
    margin: 0 auto;
}