{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "commonjs": true,
        "es6": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "globals": {
        "BigInt": true
    },
    "rules": {
        "indent": ["warn", 4],
        "linebreak-style": 0,
        "quotes": ["warn", "single"],
        "semi": ["warn", "always"],
        "no-loop-func": ["error"],
        "no-empty": ["error", {"allowEmptyCatch": true}],
        "comma-style": ["warn", "last"],
        "space-before-blocks": ["warn", "always"],
        "no-mixed-spaces-and-tabs": ["warn"],
        "no-unused-vars": ["error"],
        "no-extra-semi": ["error"],
        "no-console": ["warn"]
    }
}
