{
	"parser": "babel-eslint",
    "env": {
		"browser": true,
		"node": true,
        "commonjs": true,
		"es6": true,
		"jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 2018,
		"sourceType": "module"
	},
    "rules": {
        "indent": 0,
        "linebreak-style": 0,
        "quotes": [2, "single"],
        "semi": [2, "always"],
		"no-empty": 0,
		"no-mixed-spaces-and-tabs": 0,
		"no-unused-vars": "warn",
		"no-console": "warn",
		"no-extra-semi": "warn"
	}
}