/*Libs -------------------------------------------------------------------------*/
@import "~swiper/css/swiper.css";

/* Helpers ---------------------------------------------------------------------*/
@import "./modules/var";
@import "./modules/mixins";
@import "./modules/normalize";

/* Fonts --------------------------------------------------------------------*/
@import "./modules/fonts";

/* Styles --------------------------------------------------------------------*/
@import "./modules/default-classes";
@import "./modules/header";
@import "./modules/footer";
@import "./modules/popups";
@import "./modules/components";
@import "./modules/base";

/* Media --------------------------------------------------------------------*/
@import "./modules/mq";